<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="AppManagement" connectionString="metadata=res://*/Models.AppDb.csdl|res://*/Models.AppDb.ssdl|res://*/Models.AppDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.10.10;initial catalog=RGNOrderManagement_Test;persist security info=True;user id=sa;password=Q1w2e3r4t5!;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="V3" connectionString="metadata=res://*/Models.V3Model.csdl|res://*/Models.V3Model.ssdl|res://*/Models.V3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.10.10;initial catalog=TRADEGRAM_V3;persist security info=True;user id=sa;password=Q1w2e3r4t5!;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	  <!--NEYZEN-->
	  <!--<add name="V3" connectionString="metadata=res://*/Models.V3Model.csdl|res://*/Models.V3Model.ssdl|res://*/Models.V3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.80.10;initial catalog=V3_NEYZEN;user id=sa;password=1qazxsw2+;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="rgnsrv.TRADEGRAM_V3.dbo" connectionString="XpoProvider=MSSqlServer;data source=188.132.216.212,9033;user id=sa;password=Q1w2e3r4t5!;initial catalog=TRADEGRAM_V3;Persist Security Info=true" />
		<add name="AppManagement" connectionString="metadata=res://*/Models.AppDb.csdl|res://*/Models.AppDb.ssdl|res://*/Models.AppDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.80.10;initial catalog=RGNOrderManagement;persist security info=True;user id=sa;password=1qazxsw2+;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	  <!--LITTLE STAR-->
	  <!--<add name="V3" connectionString="metadata=res://*/Models.V3Model.csdl|res://*/Models.V3Model.ssdl|res://*/Models.V3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.28.1.150\NEBIMV3,1433;initial catalog=BREEZE;user id=sa;password=Turkuaz.8969;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="rgnsrv.TRADEGRAM_V3.dbo" connectionString="XpoProvider=MSSqlServer;data source=185.28.1.150\NEBIMV3,1433;user id=sa;password=Turkuaz.8969;initial catalog=BREEZE;Persist Security Info=true" />
		<add name="AppManagement" connectionString="metadata=res://*/Models.AppDb.csdl|res://*/Models.AppDb.ssdl|res://*/Models.AppDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.28.1.150\NEBIMV3,1433;initial catalog=RGNOrderManagement;persist security info=True;user id=sa;password=Turkuaz.8969;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	  <!--DUFY-->
	  <!--<add name="V3" connectionString="metadata=res://*/Models.V3Model.csdl|res://*/Models.V3Model.ssdl|res://*/Models.V3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.31.68;initial catalog=Dufy;user id=rgn;password=Dufy202011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="rgnsrv.TRADEGRAM_V3.dbo" connectionString="XpoProvider=MSSqlServer;data source=10.1.31.68;user id=rgn;password=Dufy202011!;initial catalog=Dufy;Persist Security Info=true" />
		<add name="AppManagement" connectionString="metadata=res://*/Models.AppDb.csdl|res://*/Models.AppDb.ssdl|res://*/Models.AppDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.31.68;initial catalog=RGNOrderManagement;persist security info=True;user id=rgn;password=Dufy202011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	  <!--KRTEKS-->
	  <!--<add name="V3" connectionString="metadata=res://*/Models.V3Model.csdl|res://*/Models.V3Model.ssdl|res://*/Models.V3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.242,10433;initial catalog=V3_KRTEKSTEKSTIL;user id=sa;password=1qazxsw2++;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		
		<add name="rgnsrv.TRADEGRAM_V3.dbo" connectionString="XpoProvider=MSSqlServer;data source=10.1.31.68;user id=rgn;password=Dufy202011!;initial catalog=Dufy;Persist Security Info=true" />
		
		<add name="AppManagement" connectionString="metadata=res://*/Models.AppDb.csdl|res://*/Models.AppDb.ssdl|res://*/Models.AppDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.242,10433;initial catalog=RGNOrderManagement;persist security info=True;user id=sa;password=1qazxsw2++;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	  <!--KOZA BUTİK-->
	  <!--<add name="V3" connectionString="metadata=res://*/Models.V3Model.csdl|res://*/Models.V3Model.ssdl|res://*/Models.V3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.250;initial catalog=KOZA_V3;user id=sa;password=Start!2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		
		<add name="rgnsrv.TRADEGRAM_V3.dbo" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.250;user id=sa;password=Start!2013;initial catalog=KOZA_V3;Persist Security Info=true" />
		
		<add name="AppManagement" connectionString="metadata=res://*/Models.AppDb.csdl|res://*/Models.AppDb.ssdl|res://*/Models.AppDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.250;initial catalog=RGNOrderManagement;persist security info=True;user id=sa;password=Start!2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	  <!--ÇAMAŞIR CİTY-->
	  <add name="V3" connectionString="metadata=res://*/Models.V3Model.csdl|res://*/Models.V3Model.ssdl|res://*/Models.V3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.12\KOTASQL;initial catalog=V3_KOTA;user id=sa;password=*1Melek_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<add name="rgnsrv.TRADEGRAM_V3.dbo" connectionString="XpoProvider=MSSqlServer;data source=192.168.0.12\KOTASQL;user id=sa;password=*1Melek_;initial catalog=V3_KOTA;Persist Security Info=true" />

		<add name="AppManagement" connectionString="metadata=res://*/Models.AppDb.csdl|res://*/Models.AppDb.ssdl|res://*/Models.AppDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.12\KOTASQL;initial catalog=RGNOrderManagement;persist security info=True;user id=sa;password=*1Melek_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
	<!--<appSettings>
		--><!--<add key="DYSConnection" value="Data Source=10.200.80.10;User ID=sa;Password=1qazxsw2+;Connect Timeout=500; Database=RGNOrderManagement;" />--><!--
		--><!--<add key="DYSConnection" value="Data Source=192.168.1.250;User ID=sa;Password=Start!2013;Connect Timeout=500; Database=RGNOrderManagement;" />--><!--
		--><!--<add key="DYSConnection" value="Data Source=10.100.10.10;User ID=sa;Password=Q1w2e3r4t5!;Connect Timeout=500; Database=RGNOrderManagement_Test;" />--><!--
		<add key="DYSConnection" value="Data Source=192.168.0.12\KOTASQL;User ID=sa;Password=*1Melek_;Connect Timeout=500; Database=RGNOrderManagement;" />


		--><!--<add key="connection" value="Data Source=10.100.10.10;User ID=sa;Password=Q1w2e3r4t5!;Connect Timeout=500; Database=TRADEGRAM_V3;" />--><!--
		--><!--<add key="connection" value="Data Source=10.1.31.68;User ID=rgn;Password=Dufy202011;Connect Timeout=500; Database=Dufy;" />--><!--
		--><!--<add key="connection" value="Data Source=188.132.216.212,9033;User ID=sa;Password=Q1w2e3r4t5!;Connect Timeout=500; Database=TRADEGRAM_V3;" />--><!--
		--><!--<add key="connection" value="Data Source=10.200.80.10;User ID=sa;Password=1qazxsw2+;Connect Timeout=500; Database=V3_NEYZEN;" />--><!--
		--><!--<add key="connection" value="Data Source=192.168.1.250;User ID=sa;Password=Start!2013;Connect Timeout=500; Database=KOZA_V3;" />--><!--
		--><!--<add key="connection" value="Data Source=185.28.1.150\NEBIMV3,1433;User ID=sa;Password=Turkuaz.8969;Connect Timeout=500; Database=BREEZE;" />--><!--
		--><!--<add key="connection" value="Data Source=192.168.1.28,1433;User ID=rgn1;Password=Q1w2e3r4t5!;Connect Timeout=500; Database=BREEZE;" />--><!--
		--><!--<add key="connection" value="Data Source=192.168.1.242,10433;User ID=sa;Password=1qazxsw2++;Connect Timeout=500; Database=V3_KRTEKSTEKSTIL;" />--><!--
		<add key="connection" value="Data Source=192.168.0.12\KOTASQL;User ID=sa;Password=*1Melek_;Connect Timeout=500; Database=V3_KOTA;" />
		--><!--<add key="connection" value="Data Source=192.100.40.2\V3;User ID=sa;Password=1qazxsw2+;Connect Timeout=500; Database=FITALIVE;" />--><!--
		--><!--<add key="OrderManagementDb" value="Data Source=10.200.69.10;User ID=sa;Password=1qaz+;Connect Timeout=500; Database=ARTA;" />--><!--
		--><!--CAMASIRCITY--><!--
		<add key="api" value="http://192.168.0.12:97/" />
		--><!--RGN--><!--
		--><!--<add key="api" value="http://10.100.10.10:93/" />--><!--
		--><!--KOZA BUTİK--><!--
		--><!--<add key="api" value="http://192.168.1.250:96/"/>--><!--
		--><!--NEYZEN--><!--
		--><!--<add key="api" value="http://10.200.80.10:98/" />--><!--
		--><!--LITTLESTAR--><!--
		--><!--<add key="api" value="http://185.28.1.150:96/" />--><!--
		--><!--<add key="api" value="http://localhost:62269/" />--><!--
		--><!--<add key="api" value="http://192.168.1.29:96/" />--><!--
		--><!--<add key="api" value="http://localhost:62269/" />--><!--
		--><!--<add key="api" value="http://10.1.31.70:1516/" />--><!--
		--><!--<add key="api" value="http://192.168.1.28:96/" />--><!--
		--><!--KRTEKSTİL--><!--
		--><!--<add key="api" value="http://192.168.1.242:97/" />--><!--
		--><!--DUFY--><!--
		--><!--<add key="api" value="http://10.1.31.70:1516" />--><!--
		--><!--<add key="api" value="http://93.94.252.107:1517" />--><!--
		--><!--CAMASIRCITY--><!--
		--><!--<add key="api" value="http://192.168.0.12:97" />--><!--
		--><!--<add key="api" value="http://192.168.1.106/DUFY_API/" />--><!--
		--><!--FITALIVE--><!--
		--><!--<add key="api" value="http://192.100.40.2:8460/" />--><!--
		--><!--ARTA--><!--
		--><!--<add key="api" value="http://arta.pakabulut.com:90//" />--><!--
		--><!--RGN--><!--
		--><!--<add key="NebimApi" value="http://10.100.10.10:92" />--><!--
		--><!--KOZA BUTİK--><!--
		--><!--<add key="NebimApi" value="http://192.168.1.250:97" />--><!--
		--><!--NEYZEN--><!--
		--><!--<add key="NebimApi" value="http://10.200.80.10:99/" />--><!--
		--><!--LITTLE STAR--><!--
		--><!--<add key="NebimApi" value="http://185.28.1.150:97/" />--><!--
		--><!--DUFY--><!--
		--><!--<add key="NebimApi" value="http://10.1.31.70:1517" />--><!--
		--><!--FITALIVE--><!--
		--><!--<add key="NebimApi" value="http://192.100.40.2:8461/" />--><!--
		--><!--KRTEKSTİL--><!--
		--><!--<add key="NebimApi" value="http://192.168.1.242:98/" />--><!--
		--><!--CAMASIRTCITY--><!--
		<add key="NebimApi" value="http://192.168.0.12:8082/" />
		--><!--ARTA--><!--
		--><!--<add key="NebimApi" value="http://arta.pakabulut.com:91//" />--><!--
		--><!--<add key="IsSubjectToEShipment" value="false" />
		<add key="ShipmentMethodCode" value="1" />
		--><!--
		--><!--ShipmentMethodCode 2 ise--><!--
		--><!--
		<add key="DeliveryCompanyCode" value="2" />
		--><!--
		--><!--ShipmentMethodCode 1 ise--><!--
		--><!--
		<add key="DriverCode" value="S01" />
		<add key="VehicleCode" value="A01" />
		<add key="LicensePlateID" value="34EFY951" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />--><!--
	</appSettings>-->
</configuration>